/* 以下是控制是否隐藏的样式 */
.middle_show_c{
                width: 860px;
}
.middle_form_show_c{
                margin-left: 30px;
}.username_div_offset{
                padding-top: 25px;
}.login_button_div_offset{
}